[weibo]
    [weibo.genshin_impact]
        read_link_url = "https://weibo.com/u/6593199887"
        message_webhook = "YOUR_WEBHOOK_URL"
        avatar_url = "https://i.ibb.co/cbkGdL9/logo-92036cc.png"
        title = "原神"
[status]
    message_webhook = "YOUR_STATUS_WEBHOOK_URL"